.App {
  text-align: center;
}

Button {
  font-size: 15px;
  width: 100px;
  margin: 3%;
}

.header {
  text-align: left;
  margin-left: 10%;
}

.error {
  color: red;
  font-style: italic;
  margin-bottom: -5px;
}

.search {
  width: 300px;
}

.submit {
  font-size: 15px;
  width: 40px;
  height: 25px;
  margin-left: 5px;
}

.list-name {
  margin-left: 10%;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: left;
  border: none;
  background-color: white;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  color: #000080;
}

.book-name {
  margin-left: 12%;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
  font-style: italic;
  border: none;
  background-color: white;
  width: 100%;
}